@tailwind base;
@tailwind components;
@tailwind utilities;

.light{
  --background: 255,255,255;
  --panel: 255,255,255;
  --elements: 255,255,255;
  --primary: 0,0,0;
  --secondary:0,0,0;
  --border: 0,0, 0:
}

.dark{
  --background: 15, 23, 42;
  --panel: 15, 23, 42;
  --elements: 255,255,255;
  --primary: 255, 255, 255;
  --secondary:200, 203, 208;
  --border: 0, 0, 255;
}

.night{
  --background:165, 172, 179;
}

.ant-form-item-explain-error {
  font-size: 13px;
}

.ant-form-item-explain-error {
  font-size: 13px;
}
.ant-menu .ant-menu-item .ant-menu-item-icon svg{
  width: 1.5em;
  height: 1.5em;
}

.ant-table-wrapper .ant-table-pagination{
  margin: 0 !important;
  font-weight: 600;
  font-size: 15px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.ant-input:disabled,
.ant-input-number:disabled,
.ant-picker:disabled,
.ant-select-selector:disabled {
  cursor: text !important
}

canvas {
  width: 98vmin;
  height: 120vmin;
}

.content {
  height: calc(100vh - 160px); /* 100px là tổng chiều cao của header và footer */
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter-item {
  flex: 1 1 auto;
}

.search-input {
  min-width: 350px;
}

.select-account {
  min-width: 150px;
}
@media (max-width: 690px) {
  .filter-item {
    min-width: unset; 
  }
}
