@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-explain-error {
  font-size: 13px;
}

.ant-form-item-explain-error {
  font-size: 13px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

canvas {
  width: 98vmin;
  height: 98vmin;
}


.content {
  height: calc(100vh - 160px); /* 100px là tổng chiều cao của header và footer */
}